[submodule "themes/paper-rtl"]
	path = themes/paper-rtl
	url = https://github.com/techwithomid/hugo-paper-rtl
[submodule "themes/hugo-bearblog"]
	path = themes/hugo-bearblog
	url = https://github.com/janraasch/hugo-bearblog.git
